# 基础配置
HOST=0.0.0.0
PORT=8000

# 使用指定模块
LLM=ollama
TTS=sovits

# LLM chatgpt 配置
OPENAI_BASE_URL=
OPENAI_API_KEY=
OPENAI_MODEL=
# LLM ollama 配置
OLLAMA_URL=http://127.0.0.1:11434
OLLAMA_MODEL=qwen2.5:3b

# TTS 语音克隆的参考音频
PROMPT_TEXT=你的能力表现会越接近的话。
PROMPT_AUDIO=model_pretrained/CosyVoice2-0.5B/ssy_short.wav
# TTS sovits 配置
GPT_SoVITS=model_pretrained/GPT_SoVITS/tts_infer.yaml
# TTS cosy 配置
COSY_MODEL=model_pretrained/CosyVoice2-0.5B
COSY_INSTRUCT=用平常的语气说话

# ASR 模型配置
# 因为当前只用sense, 就不做切换了
VAD_MODEL=model_pretrained/speech_fsmn_vad_zh-cn-16k-common-pytorch
SENSE_MODEL=model_pretrained/SenseVoiceSmall
SENSE_DEVICE=cuda

# DENOISE 模型配置
FRCRN_MODEL=model_pretrained/speech_frcrn_ans_cirm_16k
FRCRN_DEVICE=cuda

# 启用的网络路由
ENABLE=websocket,account
